:root{
    --yellow: #f5ba58;
    --purple-medium: #313442;
    --purple-dark: #232532;

    --blue-sky: #00c6ff;
    --blue-dark:#023262;
    --blue-light: #297acc;
    --yellow-sky: #cc9629;;

    --black: #000000;
    --white: #FFFFFF;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;    
}
*,*::after,*::before{    
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

/*Estilos generales*/
h1{
    font-size: 5rem;
    color: var(--white);
    margin: 15px auto;
}
h2{
    font-size: 4rem;
    color: var(--yellow-sky);
}
h3{
    font-size: 2.5rem;
    color: var(--white);
}
h1, h2, h3{
    text-align: center;
    text-transform: uppercase;    
}
p{
    font-size: 2.2rem;
}
a{
    text-decoration: none;
    color: var(--black);
}
/*Globals*/
.container{
    max-width: 980px;
    margin: 0 auto;
}
.mgt-25{
    margin-top: 25px;
}
.mgb-25{
    margin-bottom: 25px;
}
.pd-container{
    padding: 20px 30px;
}
.text-justify{
    text-align: justify;
}
.text-center{
    text-align: center;
}
.bd-prueba{ /*Esto se debe borrar*/
    border: 1px solid red;
}
.color-yellow{
    color: var(--yellow-sky);
}
.color-blue{
    color: var(--blue-light);
}
img{
    width: 100%;
}
section[id]{
    scroll-margin-top: 120px;
}

/*HEADER*/
.header{
    width: 100%;
    position: fixed;
    z-index: 1;    
    left: 0;
    top: 0;
    padding: 15px 0;
    background-color: var(--black);
}
.header_main {
    position: relative;
    width: 100%;
    height: 80px;    
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.check-menu{
    display: none;    
}
.label-menu i{
    font-size: 3.5rem; 
    color: var(--white);
}
@media(min-width: 750px){
    .label-menu i{
        display: none;
    }
}
.header_nav{
    width: 100%;    
    position: absolute;
    top: 80px;
    top: -100vh;
    display: block;
    background-color: var(--blue-dark);
    opacity: .95;
    transition: all 1s;   
    transition-delay: 0.5s;
    
}
@media(max-width: 750px){    
    .check-menu:checked ~ .header_nav{
        width: 100%;
        top: 95px;
        left: 0px;
        display: block;
        background-color: var(--blue-dark);
        opacity: .95;
        z-index: 1;    
        transition: all 0.7s;
        transition-duration: 1s;
        padding: 20px 20px;
    }
}

.header_nav a{
    width: 100%;
    text-align: center;
    display: block;
    color: var(--yellow-sky);
    padding: 10px;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: 15px;
    border: 2px solid transparent;
}

.header_nav a:hover{
    color: var(--white);
    border: 2px solid var(--blue-light);
    transition: all 0.5s;
}
@media(min-width: 750px){
    .header_nav{
        position: static;
        width: 80%;
        display: flex;
        justify-content: space-between;
        column-gap: 25px;
        background-color: transparent;
    }
    .header_nav a{
        color: var(--yellow-sky);
    }
}

/*MAIN*/
.main{
    margin-top: 80px;
    scroll-margin-bottom: 120px;
}
@media(min-width: 450px){
    .main{
        min-height: 100vh;
    }
    .overlay{
        min-height: 100vh;
    }
}
.main.bg-img{    
    width: 100%;    
    background-image: url("../assets/img/eart_space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

@media (min-width:765px){
    .main.bg-img{
        min-height: calc(100vh - 80px);
    }
}

.main .overlay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0,0, 0.6);
}

@media(min-width: 980px){
    .main .overlay{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
    }
}
@media(min-width: 980px){
    .main_information{
        width: 50%;
        /*background-color: rgba(25,25,25, 0.5);*/
    }
    .main_text{
        width: 40%;
    }
}
.main_img-container{
    width: 200px;
    margin-bottom: 25px;
    background-color: var(--yellow-sky);
    border-radius: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
}
.main_img-container img{ 
    filter: grayscale(100%);
}
.main_information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.main_information h1{
    font-size: 7.5rem;
    line-height: 1;
}
.main_information h2{
    font-size: 7.5rem;
    line-height: 1;
    color: var(--white);
}
.subtitle-main{
    font-size: 4rem;
    line-height: 1;
}
.main_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_text p{
    color: var(--white);
    text-align: justify;
}
.legend-main{
    color: var(--yellow-sky);
    font-size: 3rem;
    text-align: center;
}

.shadow{
    box-shadow: 0px 15px 30px 7px rgba(0, 0,0, 0.25);
}

/*Sobre mi*/
.sobre-mi{
    background: rgb(2,50,98);
    background: linear-gradient(0deg, rgba(2,50,98,1) 0%, rgba(37,37,37,1) 49%, rgba(10,13,16,1) 100%);
    display: flex;
    align-items: center;
}
@media(min-width: 450px){
    .sobre-mi{
        min-height: 100vh;
    }
}


.sobre_mi-container h2{
    color: var(--yellow-sky);
}
.sobre_mi-container p{
    color: var(--white);
    line-height: 1.5;
    text-align: justify;
}
.actitudes{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.actitud{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.actitud i{
    color: var(--yellow-sky);
}
.actitud p{
    margin-top: 10px;
    /* color: var(--blue-light); */
    color: var(--white);
    line-height: 1;
}
/*PROYECTOS*/

@media(min-width: 450px){
    .proyectos {
        min-height: 100vh;
    }
}

.proyectos p{
    /* color: var(--white); */
    text-align: justify;
    margin-bottom: 20px;
}
.proyectos-container{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.proyectos-card{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.proyectos-card:last-of-type{
    margin-bottom: 15px;
 }
.proyecto{
    padding-bottom: 15px;
    width: 100%;
    max-width: 370px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--white);
    margin: 0 auto;
    box-shadow: 5px 5px 30px 7px rgba(0, 0,0, 0.25),
    -5px -5px 30px 7px rgba(0, 0,0, 0.22);
}
.proyecto figure{
    height: 50%;
    width: 100%;
}

.proyecto .text-proyecto{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.proyecto-encabezado {
    height: 85%;
    align-items: flex-start;

}
.text-proyecto h3{
    color: var(--yellow-sky);
}
.text-proyecto p{
    text-align: center;
    color: var(--black);
}
.text-proyecto p:last-of-type {
    color: var(--yellow-sky);
    margin-bottom: 5px;
}
.codigo{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.codigo a{
    width: auto;
}
.codigo i{
    color: var(--blue-dark);
    font-size: 3rem;
    border: 2px solid var(--yellow-sky);
    border-radius: 10px;
}
.codigo a:hover i{
    color: var(--blue-dark);
}
.enlace-trabajo{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button{
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}
.button:hover{
    background-color: var(--yellow-sky);
}

.button-black{
    background-color: var(--black);
}
.button-black a{
    color: var(--white);
}
.button-blue{
    background-color: var(--blue-light);
}
.button-blue a{
    color: var(--white);
}

/*HABILIDADES*/
.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
@media(min-width: 450px){
    .habilidades {
        min-height: 100vh;
    }
}
.habilidades-text p{
    text-align: justify;
}
@media(min-width: 300px){
    .tecnologias-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 20px;
        gap: 25px;
    }
}

.tecnologia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.tecnologia i{
    font-size: 3.5rem;
}
.tecnologia img{
    width: 3.5rem;
    margin: 0;
    padding: 0;
}


/*FOOTER*/
.contactame-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sociales{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    gap: 25px;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social i{
    font-size: 3.5rem;
}
.contactame-text{
    margin-top: 10px;
    color: var(--blue-dark);
}

/*FOOTER*/
.footer{
    background-color: var(--black);
}
.footer-container{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.footer-logo{
    width: 10rem;
}

.footer-text p{
    color: var(--blue-light);
    text-align: center;
}